<header>
	<div class="toolbar">

		<span ng-hide="tab.recording" ng-click="ui.record('start')" title="Record DOM mutation" class=""><i class="fa fa-circle fa-fw clickable"></i></span></span>
		<span ng-show="tab.recording" ng-click="ui.record('stop')" title="Stop recording" class="recording"><i class="fa fa-circle fa-fw clickable"></i></span></span>
		<span ng-hide="tab.reloading" ng-click="ui.reload()" title="Refresh actual tab" class=""><i class="fa fa-refresh fa-fw clickable" ng-class=""></i></span></span>
		<span ng-show="tab.reloading" ng-click="" title="Refresh actual tab" class="working"><i class="fa fa-refresh fa-fw" ng-class=""></i></span></span>

		<span ng-click="ui.clear()" title="Clear" class=""><i class="fa fa-ban fa-fw clickable"></i></span></span>

		<span ng-click="ui.settingsOpen()" title="Settings" class="clickable"><i class="fa fa-gear fa-fw"></i>&nbsp;</span>&nbsp;</span>

		<i ng-show="tab.events.length" class="fa fa-filter fa-fw"></i>
		<input ng-show="tab.events.length" value="" ng-model="searchFilter" placeholder="Search in results">
		<!--
		<span ng-click="ui.chartsToggle()" title="Show loading charts" class="pullRight"><i class="fa fa-bar-chart-o fa-fw clickable"></i>&nbsp;</span></span>
		-->

	</div>
	<table ng-show="tab.events.length">
		<tr class="row header">
			<th class="time">Time</th>
			<th class="type">Type</th>
			<th class="node">Node</th>
			<th class="change">Change</th>
		</tr>
	</table>
</header>

<div class="content">
	<table ng-show="tab.events.length">
		<tr class="row hoverable {{event.name}}" ng-repeat="event in tab.events" >
			<td class="time"><span ng-bind="event.__meta__.formattedTime"></span></td>
			<td ng-if="event.type=='mutation'" class="type"><span class="badge {{event.mutation.type}}" ng-bind="event.mutation.__meta__.typeDesc"></span></td>
			<td ng-if="event.type=='mutation'" class="node"><span ng-bind="event.mutation.target.nodeName.toLowerCase()"></span></td>
			<td ng-if="event.type=='mutation'"><mutation data="event.mutation"></td>
			<td ng-if="event.type=='event'" class="type">&nbsp;</td>
			<td ng-if="event.type=='event'" class="node">&nbsp;</td>
			<td ng-if="event.type=='event'"><event data="event"></td>
		</tr>
	</table>
	<!--
	<code>
	{{tab}}
	</code>
	-->
</div>

