<header>
	<div class="toolbar">
		<strong>Settings</strong>
		<span ng-click="ui.settingsClose()" title="Close" class="clickable pullRight">&nbsp;<i class="fa fa-times-circle"></i></span>
	</div>
</header>

<div class="content">
	<h4>App colors</h4>
	<div ng-repeat="kvm in settings.kvms">
		<i class="fa fa-square fa-fw" style="color: {{kvm.color}} !important;"></i>
		<input ng-model="kvm.color" value="{{kvm.color}}"/>
		<label>{{settings.user}}{{kvm.description}}</label>
	</div>
	<p>
		<small>Change of this colors will affect favicon color after page refresh.</small>
	</p>
	<hr/>
	<h4>Enviroment colors</h4>
	<div ng-repeat="enviroment in settings.enviroments">
		<i class="fa fa-circle fa-fw" style="color: {{enviroment.color}} !important;"></i>
		<input ng-model="enviroment.color" value="{{enviroment.color}}"/>
		<label>{{enviroment.name}}</label>
	</div>
	<p>
		<small>Change of this colors will affect favicon color after page refresh.</small>
	</p>
	<hr/>
	<h4>API settings</h4>
	<div>
		<i class="fa fa-flash fa-fw"></i>
		<input ng-model="settings.path" value="{{settings.path}}"/>
		<label>KVM API path</label>
	</div>
	<div>
		<i class="fa fa-folder-o fa-fw"></i>
		<input ng-model="settings.gitPath" value="{{settings.gitPath}}"/>
		<label>Affiliate path</label>
	</div>
	<p></p>
</div>