<header>
	<div class="toolbar">
		<strong>Settings</strong>
		<span ng-click="ui.settingsClose()" title="Close" class="clickable pullRight">&nbsp;<i class="fa fa-times-circle"></i></span>
	</div>
</header>

<div class="content">
	<h4>Mutations</h4>
	<input name="settings.preserve" type="checkbox" ng-model="settings.preserve" ng-change="">
	<label>Preserve recorded mutations after page refresh</label>
	<br/>
	<input name="settings.autostop" type="checkbox" ng-model="settings.autostop" ng-change="">
	<label>Automaticly stop recording after tab is completely loaded</label>
	<br/>
	<input name="settings.childChanges" type="checkbox" ng-model="settings.childChanges" ng-change="">
	<label>Watch also child changes</label>
	<small>( For pages with large DOM it can cause freezing of devtools :( )</small>
	<hr/>
	<h4>Console</h4>
	<input name="settings.console" type="checkbox" ng-model="settings.console" ng-change="">
	<label>Log mutations to console</label>
</div>